<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
              <h1 class="display-4 text-center field form-group">About Page</h1>
              <p class="lead field text-center">Yoooo Whats up I made this cool website</p>
              <hr class="my-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt beatae quasi, ullam quam corrupti, voluptas praesentium accusantium exercitationem repellendus, odit sunt error excepturi eos veritatis, deleniti a facere maiores eius!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, asperiores quos maiores nobis ipsam? Deleniti eum animi omnis est eius nobis impedit, deserunt porro laborum dolores molestiae hic perspiciatis magnam.</p>
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
            </div>
        </div>
    </div>
</div>